# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user
launchSettings.json

# Azure Functions
local.settings.json
__blobstorage__/
__queuestorage__/
__azurite_db*__.json

# Python
__pycache__/
*.py[cod]
*.class
.Python
venv/
env/
.env
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.pfx
*.key
appsettings.Development.json
last-instance-id.txt
commit-motor-validacion.ps1
tests/api-tests/last-instance-id.txt
tests/api-tests/last-instance-id-notasimple13.txt
