@page "/"

<PageTitle>DocumentIA Admin</PageTitle>

<h1>DocumentIA Admin</h1>

<p>Gestiona tipologias y modelos sin reiniciar las Functions.</p>
<p>
	<a class="btn btn-primary" href="/tipologias">Ir a Tipologias</a>
	<a class="btn btn-outline-secondary ms-2" href="/modelos">Ir a Modelos</a>
</p>
