<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DocumentIA.Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipologias">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tipologias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modelos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Modelos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plugins-tipologias">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Plugins Tipologias
            </NavLink>
        </div>

        <hr class="my-2" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuracion-consulta">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Configuración
            </NavLink>
        </div>
    </nav>
</div>
